#section-one{
    background-color: #1F2937 ;
    color:white
}

img{
    height: 10em;
    width:auto;
}
#header-bar{
    display: flex;
    justify-content: space-around;
}

#header-bar #nav-bar{
    display: flex;
    align-items: center;
    gap: 20px;
}

#current-project{
    display: flex;
    justify-content: space-around;
}
#preview{
    background-color: #3882F6;
    color: white;
}
