#section-one{
    background-color: #1F2937 ;
    color:white
}

img {
    height: 10em;
    width:auto;
    border:solid #3882F6;
    border-radius: 10%;
}
#current-project-image{
    border:solid #5d646e;
    border-radius: 0%;
}
#header-bar{
    display: flex;
    justify-content: space-around;
}

#header-bar #nav-bar{
    display: flex;
    align-items: center;
    gap: 20px;
}

#current-project{
    display: flex;
    justify-content: space-around;
}
#preview{
    background-color: #3882F6;
    color: white;
    border-radius: 15%;
}

/*Section-two*/
#section-two-title{
    display:flex;
    justify-content: center;
    flex:auto;
}
#featured-projects{
    display:flex;
    justify-content: space-around;
    flex:auto;
    text-align: center;
}