body{
    display: flex;
    flex-direction: column;
}

.section-one{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;

    background-color: #1F2937;
}

.section-one .layer-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}
.header-logo{
    font-size:24px;
    color: #F9FAF8;
}
.nav-bar{
    display: flex;
    list-style: none;
}

li{
    margin: 0 10px 0 10px;
}

.section-one .layer-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 19px;
}

.hero.main{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.hero.secondary, .nav-bar, .preview-btn{
    font-size: 18px;
    color: #E5E7EB;
}
.preview-btn{
    padding: 8px 15px 8px 15px;
    border-radius: 8px;
    background-color:#3882F6;
    border: none;
}

.current-project-image{
    width:400px;
    height: auto;
    border-radius: 8px;
}

/* Section two */

.section-two{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-two.info-header{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937
}

.project-links{
    display:flex;
    align-items: center;
    font-size: 18px;
}

.project-images{
    width: 200px;
    height: auto;
    border: solid #3882F6 3px;
    border-radius: 10px;
}

.project-images.book-mng{
    width:200px;
    height: 133.34px;
}

/* Section three */

.section-three{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #E5E7EB;
}
.section-three.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.socials-container{
    display: flex;
    flex-direction: column;
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.social-icon{
    width:200px;
    height: auto;
}

a{
    text-decoration: none;
}

/* section-four */

.section-four{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0 90px 0;
}

.section-four.modal{
    display:flex;
    align-items: center;
    background-color: #3882F6;
    flex: 1 1 400px;
    border-radius: 10px;
    padding:0;

    color: #E5E7EB;
    font-size: 25px;
}

.email-btn{
    background-color: #3882F6;
    border: solid #E5E7EB 2px;
    color:#E5E7EB;

    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}

/* Section-five */

.section-five{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1F2937;
    color:#F9FAF8;
}

